.navbar li{
    list-style-type: none;
    float: left;
    margin-left: 20vw;
}
.navbar a{
    text-decoration: none;
}
.navbar{
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    overflow: hidden;
    height: 33px;
}

.imagini img{
    text-decoration: none;
    width: 200px;
    height: 200px;
    margin-inline: 0px;
}
body{
    background-color: azure;
}
hr{
    color: gray;
    border-style: dashed;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: red;
}
h1{
    text-align: center;
    color: blue;
}
h2{
    text-align: center;
    color: brown;
}
h3{
    text-align: center;
    color: crimson;
}
.descrieri{
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
}
.descrieri li{
    margin-left: 300px;
    text-decoration: underline;
}
.descrieri p{
    margin-left: 500px;
    max-width: 700px;
    color: rgb(162, 0, 255);
}
h4{
    text-decoration: underline;
}
body{
    background-color:beige ;
}
.descriere_poza{
    color: rgb(50, 141, 22);
}