* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-style: italic;
}
.header__section {
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__logo__container {
  flex: 1;
  display: flex;
  justify-content: center;
}
.header__title__container {
  flex: 1;
  display: flex;
  justify-content: center;
}
.header__controls__container {
  flex: 2;
  display: flex;
  justify-content: center;
}
.main__section {
  height: 70vh;
}
.footer__section {
  height: 10vh;
}
button {
  height: 2rem;
  width: 7rem;
  border: 2px solid white;
  margin-left: 5rem;
  border-radius: 10%;
}
.list__container__class{
  display: flex;
  max-width: 100vw;
  margin-bottom: 5%;
  flex-wrap: wrap;
  overflow: auto;
}
.list_container__item{
  border: 1px solid white;
  height: 200px;
  width: 200px;
}
