*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url('background-crew-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.burger{
    display: none;
}
.main{
    display: inline;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}
.main_navbar{
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}
.top_margin{
    width: 100vw;
    height: 3rem;
}
.linie{
    width: 50%;
    max-width: 50rem;
    overflow: visible;
    z-index: 2;
    margin-left: 7%;
}
.linie hr{
    width: 106%;
}
.menu li{
    display: flex;
    margin-top: 5.5%;
    margin-right: 7%;
}
.menu ul{
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
}
.menu a{
    color: white;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
    width: fit-content;
}
.menu{
    /* background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px); */
    /* padding-right: 7.5rem; */
    padding-left: 6.4%;
    width: 50%;
    height: 6rem;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px);
}
.menu div:hover{
    height: 3.6rem;
    border-bottom: 0.1rem solid white;
}
.menu span{
    font-weight: bold;
}
.logo{
    margin-left: 3.25%;
}

.Nothing{
    height: 30rem;
    flex: 0.4;
}
.Moon{
    justify-content: center;
    /* height: 53.3rem; */
    flex: 0.2;
    /* background-color: red; */
}
.Moon_text{
    /* background-color: burlywood; */
    /* height: 53.3rem; */
    flex: 0;
}
.Content{
    display: flex;
    flex-direction: row;
    
}
.number{
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4.725px;
}
.Moon_P {
    height: 20px;
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;
    text-transform: uppercase;
    /* margin-left: -60px; */
    white-space: nowrap;
    margin-top: 8%;
}
.Moon_text h1{
    color: #FFF;
    font-family: Bellefair;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.Moon_text p{
    color: #D0D6F9;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
}
.menu2 li{
    text-transform: uppercase;
    float: left;
    padding-right: 80px;
    margin-top: 100px;
}
.menu2 {
    margin-left: -30px;
    list-style-type: none;
    padding-bottom: 100px;
}
.menu2 a{
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
}
.menu2 div:hover{
    height: 2.5rem;
    border-bottom: 0.25rem solid white;
}
.Moon_Pick span{
    filter: opacity(30%);
}
.Moon_Pick{
    width: 53.3rem;
    display: flex;
    flex: 1.2;
    flex-direction: column;
    justify-content: center;
    /* background-color: red; */
}
.guy_picture img{
    margin-bottom: 0px;
}
.guy_picture{
    /* height: 54.1rem; */
    /* display: flex; */
    flex: 1;
    /* align-items: flex-end;
    justify-content: flex-start; */
    position: fixed;
    bottom: 0;
    left: 60%;
}
.Moon_text h2{
    color: #FFF;
    font-family: Bellefair;
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.Crew_text{
    width: 27rem;
}
.buttons_div{
    width: 10rem;
    display: flex;
    justify-content: space-between;
}
.Moon_text button{
    margin-top: 5rem;
    border: none;
    background-color: rgba(128, 128, 128, 0.61); 
    color: #FFF; 
    border-radius: 50%; 
    width: 0.75rem; 
    height: 0.75rem; 
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}
.Moon_text a{
    margin-left: -0.3rem;
    font-size: 15px;
    font-weight: bold;
    color: transparent;
}
.buttons_div button:hover{
    background-color: #fff;
}
.Commander_blur  {
    color: #FFF;
    font-family: Bellefair;
    font-size: 40px;
    text-transform: uppercase;
    filter: opacity(30%);
    margin-top: 12%;
}
@media only screen and (max-width: 1024px){
body{
    background-image: url('background-crew-tablet.jpg');
    height: 100vh;
}
.Moon{
    display: none;
}
.linie{
    width: 0;
    display: none;
}
.menu span{
    visibility: hidden;
}
.top_margin{
    height: 0;
    width: 0;
}
.main_navbar{
    align-items: center;
    justify-content: space-between;
    margin-top: 3.5%;
}
.menu a{
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.362px;
}
.menu li{
    margin-right: 1px;
}
.Content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.Moon_Pick{
    width: auto;
}
.Moon_P{
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.375px;
    text-transform: uppercase;
    margin-top: 40px;
    margin-left: -27%;
}
.Moon_text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Commander_blur{
    color: #FFF;
    text-align: center;
    font-family: Bellefair;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
}
.Moon_text > h2{
    color: #FFF;
    text-align: center;
    font-family: Bellefair;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.Moon_text > p{
    color: #D0D6F9;
    text-align: center;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}
.buttons_div{
    height: 0;
}
.buttons_div > button{
    margin-top: 10px;
}
.guy_picture{
    display: flex;
    scale: 75%;
    position: fixed;
    bottom: 0;
    left: 30%;
    height: 0;
    width: 0;
}
.guy_picture > img{
    position: fixed;
    bottom: 0;
}
.main{
    display: block;
    overflow: hidden;
}
.burger{
    display: none;
}
}
@media only screen and (max-width: 710px){
.main_navbar{
    /* margin-top: 50px; */
    /* height: 0; */
    width: 100vw;
    /* margin-left: 20px; */
    margin: 0;
}
.logo{
    margin-top: 3.25%;
}
.menu{
    display: none;
}
.Crew_text{
    width: 80vw;
}
.Moon_Pick span{
    margin: 0px;
}
.burger{
    display: inline;
    visibility: visible;
    margin-right: 20px;
}
.linie{
    display: none;
}
.main{
    display: unset;
    overflow: visible;
}
.Content{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}
.Moon_P{
    margin: 0;
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}
.Moon_P > span{
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.7px;
}
.Commander_blur{
    color: #FFF;
    text-align: center;
    font-family: Bellefair;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.Moon_text > h2{
    color: #FFF;
    text-align: center;
    font-family: Bellefair;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.Moon_text > p{
    color: #D0D6F9;
    text-align: center;
    font-family: Barlow;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
}
.guy_picture{
    scale: 30%;
    position: absolute;
    bottom: 110px;
    left: -315px;
    width: 1000px;
    height: 700px;
    border-bottom: 1px solid #fff;
}
.guy_picture > img{
    position: absolute;
    left: 245px;
}
.Moon_Pick{
    position: absolute;
    top: 370px;
    left: 40px;
}
.Moon_P{
    position: absolute;
    bottom: 550px;
    left: 70px;
}
.buttons_div{
    position: absolute;
    bottom: 300px;
}
.buttons_div{
    width: 6rem;
}

}