*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url('background-destination-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.main{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}
.main_navbar{
    width: 100vw;
    height: 1rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}
.linie{
    width: 55rem;
    max-width: 50rem;
    overflow: visible;
    z-index: 2;
    margin-left: 7%;
}
.linie hr{
    width: 53rem;
}
.menu li{
    float: left;
    margin-top: 2.4rem;
    padding-right: 4rem;
}
.menu ul{
    list-style-type: none;
}
.menu a{
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
}
.menu{
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px);
    /* padding-right: 7.5rem; */
    padding-left: 7.5rem;
    width: 51.2rem;
    height: 6rem;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px);
}
.menu div:hover{
    height: 3.4rem;
    border-bottom: 0.1rem solid white;
}
.menu span{
    font-weight: bold;
    font-weight: 700;
}
.logo{
    margin-left: 3.77rem;
}
.top_margin{
    width: 100vw;
    height: 5.5rem;
}
.Moon{
    height: 53rem;
    flex: 0.7;
}
.Moon_text{
    /* background-color: burlywood; */
    height: 10rem;
    flex: 1;
    margin-top: 10rem;
    padding-right: 14rem;
}
.Content{
    display: flex;
    flex-direction: row;
}
.number{
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4.725px;
}
.Moon_Pick{
    margin-top: 10rem;
    height: 43rem;
    flex: 1.5;
}
.Moon_Pick p {
    width: 50%;
    height: 20px;
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;
    text-transform: uppercase;
    margin-left: -2rem;
    width: 30rem;
}
.hr2{
    height: 12rem;
}
.Moon_image{
    padding-top: 7rem;
}
.Moon_text h1{
    color: #FFF;
    font-family: Bellefair;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.Moon_text p{
    color: #D0D6F9;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
}
.Moon_Distance{
    display: flex;
    flex-wrap: wrap;
    /* background-color: red; */
    height: 200px;
    width: 100%;
}
.Avg{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    flex: 0.6;
    color: #D0D6F9;
    font-family: Barlow Condensed;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.362px;
    text-transform: uppercase;
}
.Avg span{
    color: #FFF;
    font-family: Bellefair;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.Est{
    display: inline-flex;
    padding-right: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    color: #D0D6F9;
    font-family: Barlow Condensed;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.362px;
    text-transform: uppercase;
}
.Est span{
    color: #FFF;
    font-family: Bellefair;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.menu2 li{
    text-transform: uppercase;
    float: left;
    padding-right: 3rem;
    /* margin-top: 100px; */
    margin-top: 3rem;
}
.menu2 {
    list-style-type: none;
    padding-bottom: 0.8rem;
}
.menu2 a{
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
}
.menu2 div:hover{
    height: 2.5rem;
    border-bottom: 0.25rem solid white;
}
.Moon_Pick span{
    filter: opacity(30%);
}
