*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url('background-destination-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.main{
    display: inline;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}
.main_navbar{
    width: 100vw;
    height: 1rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    overflow: show;
}
.linie{
    width: 50%;
    max-width: 50rem;
    overflow: visible;
    z-index: 2;
    margin-left: 7%;
}
.linie hr{
    width: 106%;
}
.menu li{
    float: left;
    margin-top: 5.5%;
    margin-right: 10%;
}
.menu ul{
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
}
.menu a{
    color: white;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.menu{
    /* background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px); */
    /* padding-right: 7.5rem; */
    padding-left: 6.4%;
    width: 50%;
    height: 6rem;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px);
}
.menu div:hover{
    height: 3.6rem;
    border-bottom: 0.1rem solid white;
}
.menu span{
    font-weight: bold;
}
.logo{
    margin-left: 3.25%;
}
.top_margin{
    width: 100vw;
    height: 5.5rem;
}
.Moon{
    height: 54.1rem;
    flex: 0.7;
}
.Moon_text{
    /* background-color: burlywood; */
    height: 10rem;
    flex: 1;
    margin-top: 10rem;
    padding-right: 14rem;
}
.Content{
    display: flex;
    flex-direction: row;
}
.number{
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4.725px;
}
.Moon_Pick{
    margin-top: 10rem;
    height: 43rem;
    flex: 1.5;
}
.Moon_Pick p {
    width: 50%;
    height: 20px;
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;
    text-transform: uppercase;
    margin-left: -2rem;
    width: 30rem;
}
.hr2{
    height: 12rem;
}
.Moon_image{
    padding-top: 7rem;
}
.Moon_text h1{
    margin-top: 7rem;
    color: #FFF;
    font-family: Bellefair;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.Moon_text p{
    color: #D0D6F9;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
}
.Moon_Distance{
    display: flex;
    flex-wrap: wrap;
    /* background-color: red; */
    height: 200px;
    width: 100%;
}
.Avg{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    flex: 0.6;
    color: #D0D6F9;
    font-family: Barlow Condensed;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.362px;
    text-transform: uppercase;
}
.Avg span{
    color: #FFF;
    font-family: Bellefair;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.Est{
    display: inline-flex;
    padding-right: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    color: #D0D6F9;
    font-family: Barlow Condensed;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.362px;
    text-transform: uppercase;
}
.Est span{
    color: #FFF;
    font-family: Bellefair;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.menu2 li{
    text-transform: uppercase;
    float: left;
    padding-right: 3rem;
    /* margin-top: 100px; */
    margin-top: 3rem;
}
.menu2 {
    list-style-type: none;
    padding-bottom: 0.8rem;
}
.menu2 a{
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
}
.menu2 div:hover{
    height: 2.5rem;
    border-bottom: 0.25rem solid white;
}
.Moon_Pick span{
    filter: opacity(30%);
}
.burger{
    visibility: hidden;
}
@media only screen and (max-width: 1024px){
body{
    background-image: url('background-destination-tablet.jpg');
    height: fit-content;
}
.linie{
    width: 0;
    visibility: hidden;
}
.menu span{
    visibility: hidden;
}
.top_margin{
    height: 0;
    width: 0;
}
.main_navbar{
    align-items: center;
    justify-content: space-between;
    margin-top: 3.5%;
}
.menu a{
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.362px;
}
.menu li{
    margin-right: 1px;
}
.Moon_text{
    margin: 0px;
    padding: 0px;
    width: auto;
}
.Content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.Moon_Pick{
    margin: 0px;
    margin-top: 40px;
}
.Moon_Pick p{
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.375px;
    text-transform: uppercase;
}
.Moon_Pick span{
    margin-left: -16%;
}
.Moon_image{
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
}
.Moon_text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu2{
    margin: 0px;
    padding: 0px;
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
    margin-left: 50px;
}
.Moon_text h1{
    margin: 0px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.hr2{
    width: 573px;
    color: #D0D6F9;
    text-align: center;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    height: auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 50px;
}
.Moon_Distance{
    justify-content: space-evenly;
    height: auto;
}
.Moon_image {
    width: 330px;
    height: 330px;
    margin-left: 15%;
}
.Avg{
    gap: 0px;
    justify-content: flex-start;
    margin-top: 5%;
}
.Est{
    gap: 0px;
    justify-content: flex-start;
    margin-top: 5%;
}
}
@media only screen and (max-width: 667px){
.main_navbar{
    margin-top: 50px;
    height: 0;
    width: 100vw;
    /* margin-left: 20px; */
}
.menu{
    display: none;
}
.Moon_Pick span{
    margin: 0px;
}
.burger{
    visibility: visible;
    display: flex;
    /* width: 100vw; */
    flex: wrap;
    justify-content: flex-end;
    /* margin-left: 80px; */
    width: 24px;
    height: 21px;
}
.linie{
    width: 0;
    height: 0;
    visibility: hidden;
}
.Moon_Distance{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Moon_text p{
    width: auto;
    color: #D0D6F9;
    text-align: center;
    font-family: Barlow;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
}
.Moon_text p{
    width: 327px;
    padding-bottom: 30px;
}
.menu2 a{
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.362px;
    align-items: center;
}
.menu2{
    margin: 0px;
}
.Moon_Pick p{
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    margin: 0px;
    width: auto;
    align-items: center;
    justify-content: center;
}
.Moon_Pick{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: none;
    height: auto;
}
.Moon_text h1{
    color: #FFF;
    text-align: center;
    font-family: Bellefair;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.Moon_image{
    margin: 0px;
    /* scale: 55%; */
    width: 180px;
    height: 180px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.linie{
    display: none;
}
.menu2 li{
    padding: 10px;
    margin: 0px;
}
.Avg{
    align-items: center;
    margin-top: 30px;
}
.Est{
    align-items: center;
    margin-top: 30px;
}
.Moon_text h1{
   margin-top: 15px;
   margin-bottom: 5px; 
}


}