*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url('background-home-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.main{
    display: inline;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}
.main_navbar{
    width: 100vw;
    height: 1rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    overflow: show;
}
.linie{
    width: 50%;
    max-width: 50rem;
    overflow: visible;
    z-index: 2;
    margin-left: 7%;
}
.linie hr{
    width: 106%;
}
.menu li{
    float: left;
    margin-top: 5.5%;
    margin-right: 10%;
}
.menu ul{
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
}
.menu a{
    color: white;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.menu{
    /* background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px); */
    /* padding-right: 7.5rem; */
    padding-left: 6.4%;
    width: 50%;
    height: 6rem;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px);
}
.menu div:hover{
    height: 3.6rem;
    border-bottom: 0.1rem solid white;
}
.menu span{
    font-weight: bold;
}
.logo{
    margin-left: 3.25%;
}
.top_margin{
    width: 100vw;
    height: 5.5rem;
}
.Space1{
    width: 35rem;
    font-family: Barlow Condensed;
    font-size: 35px;
    color: #D0D6F9;
    letter-spacing: 4.725px;
    margin-left: 15rem;
    text-transform: uppercase;
    margin-top: 15rem;
}
.Space2{
    width: 35rem;
    margin: 0px;
    padding-top: 2rem;
    font-family: Bellefair;
    font-size: 180px;
    color: #fff; 
    height: 172px;
    text-transform: uppercase;
    margin-left: 15rem;
}
.Space3{
    padding-top: 5rem;
    width: 35rem;
    font-family: Barlow Condensed;
    font-size: 18px;
    color: #D0D6F9;
    letter-spacing: 4.725px;
    line-height: 32px;
    margin-left: 15rem;
}
.Explore{
    width: 274px;
    height: 274px;
    border-radius: 274px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20rem;
    margin-left: 12rem;
}
.Explore a{
    color: #0B0D17;
    font-family: Bellefair;
    font-size: 32px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
}
.Explore_move{
    display: flex;
    width:50%;
    height: 54.1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Explore_move div:hover{
    box-shadow: rgba(0, 0, 0, 0.4)0 0 3px 70px;
    transition: box-shadow 0.1 ease-in-out;
}
.Explore_left{
    width: 19%;
}
.Text{
    display: flex;
}
.Space_position{
    height: 54.1rem;
}