* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(/widen_1220x0.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: white;
}

button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  background-image: linear-gradient(to right, #b46eb1 0%, #9edf55 100%);
  color: black;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

button:hover {
  background: orange;
  transform: translateY(-2px);
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

select {
  width: auto;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.login__link__container {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.815);
}

.password-container {
  position: relative;
}

input[type="password"] {
  padding-right: 40px;
}

.toggle-password {
  position: absolute;
  top: 50%;
  transform: translateY(-70%);
  right: 10px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  outline: none;
  transition: transform 0.3s ease;
}

.toggle-password i {
  font-size: 16px;
  color: #ccc;
  text-align: center;
  line-height: 16px;
}

.toggle-password:hover {
  transform: translateY(-80%);
}

.toggle-password i:hover {
  color: #333;
}
